body {
  background-color: rgb(49, 46, 46);
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 10px; 
}

.main2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 10px; 
  animation: fadeIn 1.2s ease-in;
}

.main2 h1{
  color: red;
  font-family: "Indie Flower", cursive;
  font-weight: 20px;
  font-style: normal;
  font-size: 2em;
}

.stud-gucci{
  width:50%;
}

.main2 p{
  color: red;
  font-family: "Indie Flower", cursive;
  font-weight: 100px;
  font-style: normal;
  font-size: 30px;
}

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(10px); }
  to { opacity: 1; transform: translateY(0); }
}

.main video{
  width: 100%;
  height: auto;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0px 0px 30px 5px rgba(180, 12, 231, 0.3);
}

.button-group {
  display: flex;
  justify-content: center; 
  align-items: center;     
  gap: 15px;              
}

button {
  padding: 8px 16px;       
  cursor: pointer;
  border-radius: 12px;
  border: none;
  font-weight: bold;
}

.btn-yes {
  background-color: #ff4d6d; 
  color: white;
}

.btn-no {
  background-color: #eeeeee;
  color: #666;
  transition: top 0.7s ease-out, left 0.7s ease-out;
  white-space: nowrap;
  position: relative;
}

.btn-yes:hover {
  transform: scale(1.8); 
  transition: 0.5s;
}

.main h2 {
  color: red;
  font-family: "Indie Flower", cursive;
  font-weight: 20px;
  font-style: normal;
  font-size: 2em;
  transition: all 1s ease;
}